<%provide(:title, "Edit")%>
<div class="form jumbotron bg-light text-info">
 <h1 class="text-center display">Settings</h1>
 <div class="container">
 <%= render 'form' %>
</div>
</div>    
            
