<%provide(:title, @user.name)%>
<div class="row">
    <aside class="span">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>

        <section>
            <%= render'shared/stats'%>
            <%= render 'follow_form' if logged_in? %>
        </section>
    </aside>
</div>

        
 